streamlit
pandas
numpy
matplotlib
seaborn
wordcloud
scikit-learn
nltk
PyPDF2
transformers
langdetect
requests
spacy==3.7.2
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl


